#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;


}

#container{
    text-align: center;

}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background-color: yellowgreen;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color:goldenrod ;
}